<p>Dear
    <%=Name%>,</p>

<p>
    Organization:
    <%=Organization%>
</p>

<p>

    <%if (Status == 2)  { %>
    Your organization's 501c3 has been validated.
    <% } %>

    <%if (Status == 3) { %>
    Your organization's 501c3 is not valid.
    <% } %>

</p>

<p>
    <%if (Status == 2) { %>
    You can submit a Letter of Intent here: <a href="<%= url.resolve(sails.config.custom.FE_API,'/organization/')%><%=OrgID%> ">Organization
        Dashboard</a>
    <% } %>

    <%if (Status == 3)  { %>
    Please submit a new 501c3.
    <a href="<%= url.resolve(sails.config.custom.FE_API,'/organization/')%><%=OrgID%> ">Organization Dashboard</a>
    <% } %>
</p>


<p>
    If you have any questions or comments, please <a href="mailto:support@hagen.foundation" target="_top">contact us.</a>
</p>


Thanks,

<p>THFF TEAM</p>