<p>Dear
    <%=Director%>,</p>
<p>
    User
    <%=Name%> has submitted a 501(c)3 for organization:
    <%=Organization%>.
</p>
<p>You can view and validate the 501(c)3 here. <a href="<%= url.resolve(sails.config.custom.FE_API,'/director-organization/')%><%=OrgID%> ">View Organization
        Dashboard</a>
</p>